/* line 2, ../_sass/screen.sass */
#header {
  background: gray;
  padding-left: 25px;
}
/* line 5, ../_sass/screen.sass */
#header h1 {
  color: white;
}

/* line 8, ../_sass/screen.sass */
#section {
  margin: 25px;
}

/* line 13, ../_sass/screen.sass */
.index_list ul {
  list-style-type: none;
}
/* line 15, ../_sass/screen.sass */
.index_list .title a {
  font-size: 24px;
  text-decoration: none;
}

/* line 22, ../_sass/screen.sass */
#post .date {
  color: gray;
  font-size: 1.2em;
}
